<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="./login.css" />
  </head>
  <body>

  {{if .}}
    <div id="myModal" class="modal">
    
    <div class="modal-content">
        <p>This user isn't exist!</p>
        <span class="close" onclick="CloseEvent()">&times;</span>
    </div>

  </div>
  {{end}}

    <div class="container">
      <h2>Login</h2>
      <form action="/loggedin" method="POST">
        <div class="inputBox">
          <input type="text" required="required" name="fullname"/>
          <span>Full Name</span>
        </div>
        <div class="inputBox">
          <input type="email" required="required" name="email" />
          <span>Email Address</span>
        </div>
        <div class="inputBox">
          <input type="password" required="required" name="password" />
          <span>Password</span>
        </div>
        <div class="inputBox">
          <input type="submit" value="Submit" name="submit-btn" />
        </div>
        <p>
          Agar siz Ro'yhatdan o'tmagan bo'lsangi
          <a href="./index.html">ustiga bosing</a> va ro'yhatdan o'ting
        </p>
      </form>
    </div>

    <script>
      let myModal = document.getElementById('myModal')
  
      function CloseEvent() {
          myModal.classList.add('noActive')
          console.log(123)
      }  
  
    </script>
  
  </body>
</html>
