* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  display: flex;

  justify-content: center;

  align-items: center;

  min-height: 100vh;

  font-family: "Courier New", Courier, monospace;

  background: linear-gradient(45deg, #fead06, #c00def);

}

.container {

  position: relative;

  padding: 40px;

  border-radius: 20px;

  width: 380px;

  background: white;

  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);

}

.container h2 {

  color: #111;

  margin-bottom: 45px;

  line-height: 1em;

  font-weight: 500;

  padding-left: 10px;

  border-left: 5px solid #e91e63;

}

.container .inputBox {

  position: relative;

  width: 300px;

  height: 46px;

  margin-bottom: 35px;

}

.container .inputBox:last-child {

  margin-bottom: 0;

}

.container .inputBox input {

  position: absolute;

  left: 0;

  top: 0;

  width: 100%;

  border: 1px solid #111;

  padding: 10px;

  border-radius: 4px;

  box-sizing: border-box;

  outline: none;

  font-size: 16px;

  color: #111;

  font-weight: 300;

}

.container .inputBox span {

  position: absolute;

  top: 1px;

  left: 1px;

  padding: 10px;

  display: inline-block;

  font-size: 16px;

  color: #111;

  font-weight: 300;

  transition: all 0.5s;

  pointer-events: none;

}

.container .inputBox input:focus ~ span,

.container .inputBox input:valid ~ span {

  transform: translateX(-10px) translateY(-32px);

}

.container .inputBox input[type="submit"] {

  background: #2196f3;

  color: #fff;

  border: none;

  max-width: 120px;

  cursor: pointer;

  font-weight: 500;

}

.container .inputBox input[type="submit"]:hover {

  background: #e91e63;

}

/*toast*/

.modal {

    position: fixed; /* Stay in place */

    z-index: 1; /* Sit on top */

    left: 0;

    top: 0;

    width: 100%;

    height: 100%;

    overflow: auto;

    background-color: rgb(0, 0, 0);

    background-color: rgba(0, 0, 0, 0.4);

}

/* Modal Content/Box */

.modal-content {

    background-color: #fefefe;

    margin: 15% auto;

    padding: 20px;

    border: 1px solid #888;

    width: 30%;

    display: flex;

    align-items: center;

    border-radius: 8px;

}

/* The Close Button */

.close {

    color: #aaa;

    float: right;

    font-size: 28px;

    font-weight: bold;

}

.close:hover,

.close:focus {

    color: black;

    text-decoration: none;

    cursor: pointer;

}

.noActive {
  display: none;
}

