<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./login.css" />
   
  </head>
  <body>

    {{if .}}
      <div id="myModal" class="modal">
      
      <div class="modal-content">
          <p>This user is already exist!</p>
          <span class="close" onclick="CloseEvent()">&times;</span>
      </div>
  
    </div>
    {{end}}


    <div class="signup-box">
      <h1>Sign Up</h1>

      <div class="container">
        <h2>Register</h2>
        <form action="/registred" method="POST">
          <div class="inputBox">
            <input type="text" required="required" name="firstn" autofocus autocomplete="off"/>
            <span>First Name</span>
          </div>
          <div class="inputBox">
            <input type="text" required="required" name="lastn" autofocus autocomplete="off"/>
            <span>Last Name</span>
          </div>
          <div class="inputBox">
            <input type="email" required="required" name="email" autofocus autocomplete="off"/>
            <span>Email</span>
          </div>
          <div class="inputBox">
            <input type="password" required="required" name="password" autofocus autocomplete="off"/>
            <span>Password</span>
          </div>
          <div class="inputBox">
            <input type="submit" name="submit-btn" value="Register" />
          </div>
        </form>
        <p>Hisobingiz bormi? <a href="login.html">Login here</a></p>
      </div>
    </div>

    <script>
      let myModal = document.getElementById('myModal')
  
      function CloseEvent() {
          myModal.classList.add('noActive')
          console.log(123)
      }  
  
    </script>
    
  </body>
</html>
